ul.menu {
    list-style-type: none;
    margin: auto;
    padding: auto;
    background-color: #0f0f0f; 
    text-align: center;
  }



  ul.menu li {
    display: inline-block;
    margin-right: 10px;
    color: #F6E3C5;
  }

  ul.menu li a {
    display: block;
    padding: 10px;
    color: #F6E3C5;
  }

 
  .logo{
      display: block;
      margin: 5px;
  }
  .logo img{
      width: 50px; 
      height: auto;
  }
  h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
    padding: 20px;
  }

  body {
      background-color: #F6E3C5;
  }
  .texto {
      margin: 0 450px;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.8;
    text-align: center;
    color: #0f0f0f;
  }
 .imagens{
  justify-content: space-between;
  width: 40%;
  height: auto;
  text-align: center;
 }

  .imagens-2{
    width: 40%;
    height: auto;  
    text-align: center;
  }
  .imagens-3{
    width: 15%;
    height: auto;  
    text-align: center;
  }

  

